<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
   -<div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">espacio para Header</header>
      <div class="d-flex flex-wrap justify-content-center">
            <h1>EDITAR PERFIL</h1>
            </div> 
            
           
            </div>
              <div class="container border border-warning rounded p-4 ">
                <div class="row">
                    <div class="col-md-6">
                       
                        <div class="container d-flex flex-column align-items-center">
                            <!-- Contenido del primer div container -->
                            <div class="logo col-8">
                                <img src="../img/logo_pato.png" alt="">
                                <!-- <h1>aqui va img</h1> -->
                            </div>
                            <br>
                            
                            <div class="Edit_name col-8">
                                <label for="inputAdress" class="form-label">Editar nombre</label>
                                <input type="text" class="form-control " id="" aria-describedby="emailHelp">
                              </div>
                            
                              <div class="Edit_lastname col-8">
                                  <label for="inputAdress" class="form-label">Editar apellidos</label>
                                  <input type="text" class="form-control" id="" aria-describedby="emailHelp">
                                </div>

                                <div class="sex col-8">
                    <label for="inputAdress" class="form-label">Sexo</label>
                    <input type="text" class="form-control " id="" aria-describedby="emailHelp">
                  </div>

                  <div class="birth_date col-8">
                    <label for="inputAdress" class="form-label">Fecha Nacimiento</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    
                  </select>
                   
                  </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="container d-flex flex-column align-items-center">
                        <!-- <div class="" style="background-color: #ffffff; padding: 20px;"> -->
                            <!-- Contenido del segundo div container -->
                            <div class="country col-8">
                                <label for="inputAdress" class="form-label">Pais</label>
                              <select class="form-select " aria-label="Default select example">
                                <option selected></option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                
                              </select>
                              </div>
                              <div class="department col-8">
                                <label for="inputAdress" class="form-label">Departamento</label>
                              <select class="form-select  " aria-label="Default select example">
                                <option selected></option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                
                              </select>
                              </div>
                              <div class="municipality col-8">
                                <label for="" class="form-label">Municipio</label>
                              <select class="form-select " aria-label="Default select example">
                                <option selected></option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                
                              </select>
                              <div class="address col-14">
                                <label for="text" class="form-label">Direccion</label>
                                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
                              </div>
                              <div class="current_pass col-14">
                                <label for="text" class="form-label">Contraseña actual</label>
                                <input type="password" class="form-control" id="" aria-describedby="emailHelp">
                              </div>
                               <div class="new_pass col-14">
                                  <label for="text" class="form-label">Contraseña nueva</label>
                                  <input type="password" class="form-control" id="" aria-describedby="emailHelp">
                                </div>
                                 <div class="verify_pass col-14">
                                  <label for="text" class="form-label">Verificar contraseña</label>
                                  <input type="password" class="form-control" id="" aria-describedby="emailHelp">
                                  <br>
                                </div>
                                <div class="btn d-flex flex-column align-items-center">
                                    <button type="button" class="btn  ">Guardar</button>
                                </div>
                              </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
      

</body>

</html>